@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.cdnfonts.com/css/akira-expanded");

.font-dm {
  font-family: "DM Sans", sans-serif;
}
.font-lexend {
  font-family: "lexend";
}

.font-akira {
  font-family: "Black Han Sans", sans-serif;
}
hr {
  height: 0.5px;
  background-color: #7e7e7e;
  border: none;
}
#head {
  font-family: "Satoshi";
}
body {
  font-family: "Lexend";
}
button {
  font-family: "Lexend";
}
.card {
  /* font-family: Expanded; */
  /* font: "akira"; */
  font-family: "Akira Expanded", sans-serif;
}