.login{
    background-image: url("../assets/Group 2.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 17vh;

}
.register{
    background-image: url("../assets/Group 2.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 5vh;

}
    
input{
    outline:none;
}