.dashboard{
    background: #000000c7;
    opacity: 1;
}

.schedule {
    background-color: rgba(33, 33, 33, 0.7);
    width:260px;
    font-family: lexend;
}

.prospects{
    background-color: rgba(33, 33, 33, 0.7);
    font-family: lexend;
}
.react-calendar{
    background-color: #212121;
    color: white;
    border: none;
    border-radius: 15px;
}
.react-calendar__navigation__label__labelText{
    font: Lexend;
    font-size: large;
}

